.rankItem {
    border-width: 2px;
    border-color: transparent;
}

.rankItem:hover {
    border-width: 2px;
    border-color: rgb(191, 213, 255);
}

.rankItem:hover .rankImage {
    margin-top: -30px;
}

.rankItemActive:hover {
    border-width: 2px;
    border-color: rgb(118, 255, 51);
}

.rankProgressBar {
    visibility: hidden;
}

.rankProgressBarActive {
    visibility: visible;
}

/*.rankItem {*/
/*    background-image: linear-gradient(rgba(191, 213, 255, 0) 0%, rgba(191, 213, 255, 0.25) 100%);*/
/*}*/
.rankIndicator {
    border-left-width: 1px;
    border-left-color: rgba(191, 213, 255, .25);
}

.rankGainedIndicator {
    border-left-width: 1px;
    border-left-color: rgba(118, 255, 51, 1);
}

.lastIndicator {
    opacity: .25;
    background-color: rgb(191, 213, 255);
}

.lastGainedIndicator {
    opacity: 1;
    background-color: rgb(118, 255, 51);
}

